
body {
  background-color: #81BCE6;
}

/*main {
  width: 980px;
  margin: 0 auto;
}*/


label {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-family: Helvetica;
}

.form-item {
  margin: 20px 0 0 0;
}

input, select, textarea {
  border: 2px solid #fff;
  background-color: #81BCE6;
  color: #fff;
  width: 300px;
}

::-webkit-input-placeholder {
  color: grey;
  font-family: Helvetica;
}

@media screen and (min-width: 500px) {

  .content, .middle {
    width: 50%;
    float: left;
  }

  .sidebar {
     clear: both;
  }
}


@media screen and (min-width: 980px) {
  .content, .middle, .sidebar {
    width: 33%;
    float: left;
  }

  .sidebar {
     clear: none;
  }
}

input:focus {
  border: 2px solid grey;
  outline: none;
}
